@using MyFragment.Entities.Entity
@model Movie

<div class="container">
    <div class="row">
        <h2 class="text-justify">  @Model.Name</h2>
    </div>
    <div class="row">
        <p class="text-justify">  @Model.Summary</p>
    </div>
</div>



