<!-- Footer -->
<footer class="py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Site Haritası</strong>
                </h5>
                <hr class="bg-white" />
                <p>
                    <a href="@Url.Action("Index","Home")"> <span class="fa fa-list"></span> Ana Sayfa</a><br />
                    <a href="@Url.Action("About","Home")"><span class="fa fa-info-circle"></span> Hakkımızda</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>MyFragment</strong>
                </h5> <hr class="bg-white" />
                <p>Tüm Hakları Saklıdır &copy; MyFragment @DateTime.Now.Year.ToString()</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>E-Bülten Üyeliği</strong>
                </h5> <hr class="bg-white" />
                <p>
                    Semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel.
                </p>
                <div class="input-group col-md-offset-1">

                    <input type="text" placeholder="e-posta adresiniz" class="form-control" />
                    <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="fa fa-send-o"></span> Gönder</button></span>
                </div>
            </div>
        </div>
    </div>
</footer>

