@using MyFragment.Entities.Entity
@model Movie

<div class="container">
    <div class="row">
        <iframe id="fragmentVideo" width="800" height="450" src="https://www.youtube.com/embed/@Model.EmbedKey" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>