@using MyFragment.Entities.Entity
@model IEnumerable<Category>


<div class="container">
    <div class="row">
        <div class="col-12">

            <h2 class="mt-5">Kategori listesi</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Kategori isim
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        if (item.CategoryState == MyFragment.Entities.Entity.Enums.CategoryState.MovieType)
                        {
                            <tr>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
